DATABASE_CONNECTION_URL=postgresql://wypozyczalnia:password@10.0.0.10:5432/database
NODE_ENV=dev/prod
S3_ENDPOINT_API=https://s3.webpage.com
S3_WEB_ENDPOINT=https://s3.webpage2.com/
S3_API_KEY=api_key
S3_API_SECRET=secret
S3_BUCKET=wypozyczalnia
S3_REGION=us-east
S3_FORCE_PATH_STYLE=true
S3_ITEMS_IMAGES=items/images/
S3_CATEGORIES_IMAGES=categories/images/